.container{
    position:relative;
    min-height: 1.5 em;
    border-radius: .25em;
    display: flex;
    gap:.5em;
    outline: none;
    border:.05em solid black;
    width:20em;
    align-items: center;
}
.options{
    padding: 25em;
    align-items: center;
    display: flex;
    gap:5px
}

.options.show{
    display:block;
}

.options.selected{
    background-color:aqua
}

.divider {
    background-color: #777;
    align-self: stretch;
    width: .05em;
  }
  
.caret {
    translate: 0 25%;
    border: .25em solid transparent;
    border-top-color: #777;
  }
  